<%= @orderdish.dish.name %>
<%= distance_of_time_in_words(Time.now, @orderdish.order.created_at) %>
<%= link_to 'cook', cook_order_dish_path(@orderdish)  %>
<%= link_to 'ready', ready_order_dish_path(@orderdish)  %>
<%= link_to 'pay', pay_order_dish_path(@orderdish)  %>
<%= link_to 'payé', paid_order_dish_path(@orderdish)  %>
<%= link_to 'back in command', command_order_dish_path(@orderdish)  %>
