<h1>Menus#index</h1>
<p>Find me in app/views/menus/index.html.erb</p>
<%= link_to "Add a new menu", new_restaurant_menu_path(@restaurant) %>
<% x = 0 %>
<% @menus.each do |menu| %>
  <div>
    <%= link_to restaurant_menu_path(menu.restaurant, menu) do %>
      <%= menu.name %> <%= menu.active ? "activated" : "" %>
    <% end %>
    <% if menu.active == false %>
      <%= link_to "active", activemenu_path(@restaurant, Menu.find(menu.id)) %>
    <% end %>
  </div>
<% end %>
