<div class="container">
  <h1>Menus#show</h1>
  <h5><%= @menu.active ? "activated" : "deactivated" %></h5><%= link_to "edit status", edit_restaurant_menu_path(@restaurant, @menu) %>
  <p>Find me in app/views/menus/show.html.erb</p>
    <div><%= @menu.name %> <%= link_to "add a category", new_restaurant_menu_category_path(@menu.restaurant, @menu)  %> <%#= link_to "add a dish", new_restaurant_dish_path(params[:restaurant_id])  %></div>
    <%#= render "shared/newcat", menu: @menu %>
    <% @menu.categories.each do |category| %>
      <div><%= category.name %> <%= link_to "add a dish", new_restaurant_menu_category_dish_path(@restaurant, @menu, category)  %></div>
      <% category.dishes.each do |dish| %>
        <%= link_to restaurant_menu_dish_path(@restaurant, @menu) do %>
          <div>name: <%= dish.name %> qty: <%= dish.quantity %>  price: <%= dish.price %> </div>
        <% end %>
      <% end %>
    <% end %>
</div>
