
<%= simple_form_for [restaurant, table, order, person ] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <!-- <div class="form-inputs">
    <%#= f.label :firstname %>
    <%#= f.text_field :firstname %>
    <%#= f.label :lastname %>
    <%#= f.text_field :lastname %>
    <%#= f.label :phone %>
    <%#= f.text_field :phone %>
  </div> -->

  <!-- <div class="form-actions">
    <%#= f.button :submit, placeholder: "add" %>
  </div> -->
<% end %>

<div class="d-flex justify-content-around" style="width: 100%; ">
  <%= simple_form_for [restaurant, table, order, person ] do |f| %>
  <div>
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>
  <div>
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>
  <div>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
    <%= f.submit %>
  <% end %>
</div>
