<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <%= person.firstname %>
        <td><%= link_to 'Show', restaurant_table_order_person_path(person.order.table.restaurant, person.order.table, person.order, person) %></td>
        <td><%= link_to 'Edit', edit_restaurant_table_order_person_path(person.order.table.restaurant, person.order.table, person.order, person) %></td>
        <td><%= link_to 'Destroy', destroyperson_path(person.order.table.restaurant, person.order.table, person.order, person), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Person', new_restaurant_table_order_person_path %>
