<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_restaurant_table_order_person_path(@person.order.table.restaurant, @person.order.table, @person.order, @person) %> |
<%= link_to 'Back', restaurant_table_order_people_path %>
