<% if @order == nil %>
  <% else %>
    <% if  @order.id == nil %>
      <div class="footer">
        <div class=" <%=  menu_index? ? 'footerblue' : 'footergrey' %>">
          <%= link_to new_restaurant_table_order_path(@restaurant.table, @table) do %>
            <i class="fas fa-book-open"></i>
          <% end %>
        </div>
        <div class=" <%=  cart_index? ? 'footerblue' : 'footergrey' %>">
          <%= link_to new_restaurant_table_order_path(@restaurant.table, @table) do %>
            <i class="fas fa-shopping-cart"></i>
    <!--         <div class='count'>
              <span id="sum"></span>
            </div> -->
          <% end %>
        </div>
        <div class=" <%=  cart_index? ? 'footerblue' : 'footergrey' %>">
          <%= link_to new_restaurant_table_order_path(@restaurant.table, @table) do %>
            <i class="fas fa-shopping-cart"></i>
    <!--         <div class='count'>
              <span id="sum"></span>
            </div> -->
          <% end %>
        </div>
        <div class=" <%=  cart_index? ? 'footerblue' : 'footergrey' %>">
          <%= link_to new_restaurant_table_order_path(@restaurant.table, @table) do %>
            <i class="fas fa-shopping-cart"></i>
    <!--         <div class='count'>
              <span id="sum"></span>
            </div> -->
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="footer">
        <div class=" <%=  menu_edit? ? 'footerblue' : 'footergrey' %>">
          <%= link_to edit_restaurant_table_order_path(@order.table.restaurant, @order.table, @order), class: "btn-back", data: { turbolinks: 'false' } do %>
            <i class="fas fa-book-open"></i>
          <% end %>
        </div>
        <div class=" <%=  cart_index? ? 'footerblue' : 'footergrey' %>">
          <%= link_to confirmation_restaurant_table_order_path(@order.table.restaurant, @order.table, @order) do %>
            <i class="fas fa-shopping-cart"></i>
    <!--    <div class='count'>
              <span id="sum"></span>
            </div> -->
          <% end %>
        </div>
      </div>
      <div class="footer">
        <div class=" <%=  menu_edit? ? 'footerblue' : 'footergrey' %>">
          <%= link_to edit_restaurant_table_order_path(@order.table.restaurant, @order.table, @order), class: "btn-back", data: { turbolinks: 'false' } do %>
            <i class="fas fa-book-open"></i>
          <% end %>
        </div>
        <div class=" <%=  cart_index? ? 'footerblue' : 'footergrey' %>">
          <%= link_to confirmation_restaurant_table_order_path(@order.table.restaurant, @order.table, @order) do %>
            <i class="fas fa-shopping-cart"></i>
    <!--    <div class='count'>
              <span id="sum"></span>
            </div> -->
          <% end %>
        </div>
      </div>
      <div class="footer">
        <div class=" <%=  menu_edit? ? 'footerblue' : 'footergrey' %>">
          <%= link_to edit_restaurant_table_order_path(@order.table.restaurant, @order.table, @order), class: "btn-back", data: { turbolinks: 'false' } do %>
            <i class="fas fa-book-open"></i>
          <% end %>
        </div>
        <div class=" <%=  cart_index? ? 'footerblue' : 'footergrey' %>">
          <%= link_to confirmation_restaurant_table_order_path(@order.table.restaurant, @order.table, @order) do %>
            <i class="fas fa-shopping-cart"></i>
    <!--    <div class='count'>
              <span id="sum"></span>
            </div> -->
          <% end %>
        </div>
      </div>
    <% end %>
<% end %>
