<%= form_for(@person) do |f| %>
  <%= f.label :firstname %>
  <%= f.text_field :firstname %>
  <%= f.label :lastname %>
  <%= f.text_field :lastname %>
  <%= f.label :phone %>
  <%= f.text_field :phone %>
  <%= f.submit %>
<% end %>
