<%= form_for(restaurant) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :telephone %>
  <%= f.text_field :telephone %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :ownerfirstname %>
  <%= f.text_field :ownerfirstname %>
  <%= f.label :ownerlastname %>
  <%= f.text_field :ownerlastname %>
  <%= f.label :color1 %>
  <%= f.text_field :color1 %>
  <%= f.label :color2 %>
  <%= f.text_field :color2 %>
  <%= f.label :color3 %>
  <%= f.text_field :color3 %>
  <%= f.label :photo %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
