<div class='top-page'>
<div class='top-left'>
  <%= link_to edit_restaurant_table_order_path(@restaurant, @order.table, @order), data: { turbolinks: 'false' } do %>
    <i class="fas fa-angle-left btn-back"></i>
  <% end %>
</div>
  <div class='top-right'>
    <h1>Presto Fresco</h1>
  </div>
</div>

<div class='finalcontainer'>
  <div class='summarycontainer'>
    <div class='summarycontent'>
      <div class='ordersummary'>
        <h2>Summary</h2>
        <h3>0rder: #<%= @order.id %> </h3>
      </div>
      <h4>Table <%= @order.table_id %></h4>
      <% x = 0 %>
      <div class='row textsize'>
        <div class='col-6 orderborder'>
          <h5>ARTICLES</h5>
          <% @dishes.select('name').group('name').sum('price_cents').each do |dish| %>
            <div class='ordermargin'>
              <%= truncate(dish[0], length: 17)%>
            </div>
          <% end %>
        </div>
        <div class='col-3 orderborder text-center'>
          <h5>QTY</h5>
          <%#@order.order_dishes.joins(:dishes).order("name  desc").select('dish_id').group('dish_id').count.each do |order| %>

          <%# <% @order.order_dishes.select('dish_id').group('dish_id').count.each do |order| %>

          <% @order.order_dishes.select('dish_id').group('dish_id').count.map{|id,nbr| {Dish.find(id).name => nbr}}.sort{|a,b| a.keys <=> b.keys}.each do |order| %>
            <button type="button" id='btnmodify' data-toggle="modal" data-target="#exampleModal-<%= order.keys[0].downcase.parameterize %>">
              <%=order.values[0] %>
            </button>
            <div class="modal fade" id="exampleModal-<%= order.keys[0].downcase.parameterize %>" style='' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document" style="margin-top: 130%;">
                <div class="modal-content" style="height: 120px; justify-content: center;  border: none;">
                  <div class="modal-header" style='display: none;'>
                    <h5 class="modal-title" id="exampleModalLabel">Change quantity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" style='background-color: white; border-radius: 9px;'>
                    <%= render 'dishes/editorder', currentorder: Order.find(params[:id]), table: @table, dish: Dish.find_by(name: order.keys[0]) %>
                  </div>
                </div>
              </div>
            </div>

          <% end %>
        </div>
        <div class='col-3 text-center' >
          <h5>Price</h5>
          <% @dishes.select('id, price_cents').group('name').sum('price_cents').each do |dish| %>
            <div class='ordermargin'>
              <%= humanized_money(Money.new(Dish.find_by(name: dish[0]).price_cents)) %>€
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class='summaryprice'>
        <div><h2>Total:</h2></div>
        <div><h2><%= humanized_money(@menu_test) %> €</h2></div>
    </div>

  </div>


  <!-- <div class='btnorder'>
        <button id="pay" class="btn btn-primary" style='border-color: #0087D3; font-family: ;font-weight: 500; width: 110px; height: 35px; border-radius: 7px;'>PAY</button>

        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @order.checkout_session_id %>'
            });
          });
        </script>
</div> -->
</div>

  <div style=" flex-wrap: wrap; justify-content: center; margin-bottom: 100px">
    <% @order.dishes.group('id').each do |dish| %>
      <%= link_to restaurant_table_order_dish_path(@restaurant, @table, @order, dish), :style=>'color: black; text-decoration:none' do %>
        <div>
            <div style="display: flex; margin: 15px 0px 5px 0px; border-radius: 5px; box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1); border-color: white;">
              <div class="cardphoto">
                <%= cl_image_tag dish.photo.key , :width=>125, :height=>125, :radius=>5, :crop=>"fill" %>
              </div>
              <div class="cardtextcontainer" style="width: 200px; margin: 5px; display: flex; justify-content: space-between; flex-direction: column">
                <div >
                  <div class="title"><%= dish.name %></div>
                  <div class="ingredient">Beurre, sel, eau, farine, sucre</div>
                  <!-- <div class="time">
                    <%# if dish.duration != nil %>
                      <%#= dish.duration %> min
                    <%# end %> </div>
     -->            </div>
                <div style="display: flex; justify-content: space-between; width: 100%;">
                  <div class="price" style="bottom: 5px"><%= dish.price %> €</div>
                  <div>
                  <%= @orderdishes.where(dish_id: dish.id).count %>
                  <%# raise %>
                  <i class="fas fa-shopping-cart"></i>
                  </div>
                  <div>
                    <% a = dish.price * @orderdishes.where(dish_id: dish.id).count %>
                    <%= a %>
                  </div>
                </div>
              </div>
            </div>
        </div>
      <% end %>
      <% end %>
    </div>

  <div class='btnorder' style="position: fixed; bottom: 75px;border: solid; border-color: blue">
    <%= link_to "Confirm", confirm_path(@restaurant, @table, @order) %>
  </div>
