
<div class="sbar">
  <%= form_tag edit_restaurant_table_order_path(@order.table.restaurant, @order.table, @order), class: 'searchbar',  method: :get do %>
    <div class="search-input" >
      <%= text_field_tag :query,
        params[:query],
        class: 'searchbar1',
        id: 'searchInput',
        placeholder: "Search"
      %>
    </div>
      <%#= submit_tag "Search", class: "btn btn-primary searchbar", style: "width: 20%; background-color: #0087d3" %>
      <div class="clear-input" >
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>

      <%= button_tag type: 'submit', class: "btn btn-primary searchbar2" do %>
        <i class="fas fa-search"></i>
      <% end %>
  <% end %>
  <!-- <div class='top-page'>
    <h1><%#= @restaurant.name%></h1>
  </div> -->

</div>
<% if params[:query].present? %>
  <div class="container" style="margin-bottom: 100px">


      <div >
        <div >
          <% @dishes.each do |dish| %>
          <div>
            <%= link_to restaurant_table_order_dish_path(@restaurant, @table, @order, dish), :style=>'color: black; text-decoration:none' do %>
              <div style="display: flex; margin: 15px 0px 5px 0px; border-radius: 5px; box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1); border-color: white; max-width: 400px">
                <div class="cardphoto">
                  <%= cl_image_tag dish.photo.key , :width=>125, :height=>125, :radius=>5, :crop=>"fill" %>
                </div>
                <div class="cardtextcontainer" style="width: 300px; margin: 5px; display: flex; justify-content: space-between; flex-direction: column">
                  <div >
                    <div class="title"><%= dish.name %></div>
                    <div class="ingredient">Beurre, sel, eau, farine, sucre</div>
                    <div class="time">
                      <% if dish.duration != nil %>
                        <%= dish.duration %> min
                      <% end %> </div>
                  </div>
                  <div style="display: flex; justify-content: space-between; width: 100%;">
                    <div class="price" style="bottom: 5px"><%= dish.price %> €</div>
                    <div>
                    <%= dish.order_dishes.where(order: @order).count %>
                    <i class="fas fa-shopping-cart"></i>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>

  </div>
<% else %>
<div class="header-restaurants" style="background-color: <%= @restaurant.color1 %>; ">
  <div class="header-restaurants-title" >
    <% if @restaurant.photo.attached? %>
      <%= cl_image_tag @restaurant.photo.key, :transformation=>[
      {:width=>200, :height=>300, :crop=>"fill"},
      ] %>
    <% else %>
      <img src="logo.png" alt="">
    <% end %>

  </div>
</div>
  <div class="container" style="margin-bottom: 100px">
    <% @menu.categories.each do |category| %>
      <div class='category-title' style="margin-top: 30px">
        <h2><%= category.name %></h2>
      </div>

      <div >
        <div >
          <% category.dishes.each do |dish| %>
          <div>
            <%= link_to restaurant_table_order_dish_path(@restaurant, @table, @order, dish), :style=>'color: black; text-decoration:none' do %>
              <div style="display: flex; margin: 15px 0px 5px 0px; border-radius: 5px; box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1); border-color: white; max-width: 400px">
                <div class="cardphoto">
                  <%= cl_image_tag dish.photo.key , :width=>125, :height=>125, :radius=>5, :crop=>"fill" %>
                </div>
                <div class="cardtextcontainer" style="width: 300px; margin: 5px; display: flex; justify-content: space-between; flex-direction: column">
                  <div >
                    <div class="title"><%= dish.name %></div>
                    <div class="ingredient">Beurre, sel, eau, farine, sucre</div>
                    <div class="time">
                      <% if dish.duration != nil %>
                        <%= dish.duration %> min
                      <% end %> </div>
                  </div>
                  <div style="display: flex; justify-content: space-between; width: 100%;">
                    <div class="price" style="bottom: 5px"><%= dish.price %> €</div>
                    <div>available: <%= dish.quantity %></div>
                    <div>
                    <%= dish.order_dishes.where(order: @order).count %>
                    <i class="fas fa-shopping-cart"></i>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>


  <div class="footer" >
    <div class=" <%=  menu_edit? ? 'footerblue' : 'footergrey' %>">
        <i class="fas fa-book-open" style="color: #0087d3"></i>

    </div>
    <div class=" cartcount <%=  cart_index? ? 'footerblue' : 'footergrey' %>">
      <div class='cart'>
        <%= button_tag type: 'submit', class: "button postfix" do %>
       <i class="fas fa-shopping-cart">
        </i>
          <div class='count'>
            <span id="sum"><%= @order_dishes %></span>
          </div>
      </div>

      <% end %>
    </div>
    <div>
      <%= @order.order_dishes.count %>
    </div>
  </div>


