<!-- <div class="ordersh2">
  <h2>Table <%#= @table.number %> order(s)</h2>
</div> -->

<div class="card-index" style="display: flex; justify-content: space-around;">
  <div class="column" style=" border-radius: 5px; padding: 15px; margin: 5px; box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1); border-color: white;">
    <div>&#127869; Plats commandés: <%= @orderdishes.where(status: 'Commandé').count %></div>
    <% @orderdishes.where(status: 'Commandé').order(created_at: :asc).each do |orderdish| %>
        <% if Time.now - orderdish.created_at > 270 %>
          <div style="border: solid; border-radius: 15px; width: 180px; margin: 10px; padding: 5px; box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1); border-color: white;" >
            <%= link_to edit_order_dish_path(orderdish), style: "text-decoration: none" do  %>
              <h1>Dish <%= orderdish.id %> <%= orderdish.status %></h1>
              <p>Table <%= orderdish.order.table.number %> Order <%= orderdish.order.id %></p>
                    <div><%= orderdish.dish.name %> <br> depuis <%= distance_of_time_in_words(Time.now, orderdish.created_at) %></div>
              <%#= t = Time.now - orderdish.created_at %>
            <% end %>
          </div>
        <% else %>
          <div style="border: solid; border-radius: 15px; width: 180px; margin: 10px; padding: 5px; box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);" >
            <%= link_to edit_order_dish_path(orderdish), style: "text-decoration: none" do  %>
              <h1>Dish <%= orderdish.id %> <%= orderdish.status %></h1>
              <p>Table <%= orderdish.order.table.number %> Order <%= orderdish.order.id %></p>
                    <div><%= orderdish.dish.name %> <br> depuis <%= distance_of_time_in_words(Time.now, orderdish.created_at) %></div>
              <%#= t = Time.now - orderdish.created_at %>
            <% end %>
          </div>
        <% end %>
      <% end %>
  </div>
  <div class="column" style="border-radius: 5px; padding: 15px; margin: 5px; box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1); border-color: white;" >
    <div>&#127869; Plats en préparation: <%= @orderdishes.where(status: 'En préparation').count %></div>
    <% @orderdishes.where(status: 'En préparation').order(created_at: :asc).each do |orderdish| %>
      <div style="border: solid; border-radius: 15px; width: 180px; margin: 5px; padding: 5px;  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1); border-color: white;" mouseover="background-color: lightgray" >
        <%= link_to edit_order_dish_path(orderdish) do  %>
          <h1>Dish <%= orderdish.id %> <%= orderdish.status %></h1>
          <p>Table <%= orderdish.order.table.number %> Order <%= orderdish.order.id %></p>
              <div><%= orderdish.dish.name %> <br> depuis <%= distance_of_time_in_words(Time.now, orderdish.created_at) %></div>
          <%#= t = Time.now - orderdish.created_at %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="column" style="border-radius: 5px; padding: 15px; margin: 5px; box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1); border-color: white;">
    <div>&#127869; Plats prêts: <%= @orderdishes.where(status: 'Prêt').count %></div>
    <% @orderdishes.where(status: 'Prêt').order(created_at: :asc).each do |orderdish| %>
      <div style="border: solid; border-radius: 15px; width: 180px; margin: 5px; padding: 5px;  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1); border-color: white;" >
        <%= link_to edit_order_dish_path(orderdish) do  %>
          <h1>Dish <%= orderdish.id %> <%= orderdish.status %></h1>
          <p>Table <%= orderdish.order.table.number %> Order <%= orderdish.order.id %></p>
              <div><%= orderdish.dish.name %> <br> depuis <%= distance_of_time_in_words(Time.now, orderdish.created_at) %></div>
          <% t = Time.now - orderdish.created_at %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="column" style="border-radius: 5px; padding: 15px; margin: 5px; box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1); border-color: white;">
    <div>&#127869; Plats à payer: <%= @orderdishes.where(status: 'A payer').count %></div>
    <% @orderdishes.where(status: 'A payer').order(created_at: :asc).each do |orderdish| %>
      <div style="border: solid; border-radius: 15px; width: 180px; margin: 5px; padding: 5px;  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1); border-color: white;" >
        <%= link_to edit_order_dish_path(orderdish) do  %>
          <h1>Dish <%= orderdish.id %> <%= orderdish.status %></h1>
          <p>Table <%= orderdish.order.table.number %> Order <%= orderdish.order.id %></p>
              <div><%= orderdish.dish.name %> <br> depuis <%= distance_of_time_in_words(Time.now, orderdish.created_at) %></div>
            <% end %>
          <% t = Time.now - orderdish.created_at %>
      <% end %>
    </div>
  </div>
</div>

