<style>


.countdown-label {
  font: thin 15px Arial, sans-serif;
  color: #65584c;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  margin-top: 9px
}
#countdown{
box-shadow: 0 1px 2px 0 rgba(1, 1, 1, 0.4);
width: 240px;
  height: 96px;
  text-align: center;
background: #f1f1f1;

  border-radius: 5px;

  margin: 70px auto;

}



#countdown #tiles{
  color: #fff;
  position: relative;
  z-index: 1;
/* text-shadow: 1px 1px 0px #ccc; */
  display: inline-block;
  font-family: Arial, sans-serif;
  text-align: center;

  padding: 20px;
  border-radius: 5px;
  font-size: 48px;
  font-weight: thin;
  display: block;

}

.color-full {
  background: #0087d3;
}
.color-half {
  background: #ebc85d;
}
.color-empty {
  background: #53bb74;
}

#countdown #tiles > span{
  width: 70px;
  max-width: 70px;

  padding: 18px 0;
  position: relative;
}





#countdown .labels{
  width: 100%;
  height: 25px;
  text-align: center;
  position: absolute;
  bottom: 8px;
}

#countdown .labels li{
  width: 102px;
  font: bold 15px 'Droid Sans', Arial, sans-serif;
  color: #f47321;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}
</style>

<div class="container">
  <div class='top-page'>
  </div>
  <div class='summarycontainer'>
    <div class='lastp text-center pt-4' style='height: 210px;'>
      <h3 style="font-size: 32px; margin-bottom: 20px;">
        Presto Fresco
      </h3>
      <i class="fas fa-utensils" style="font-size: 24px; color: #8a949a;"></i>
      <h4 style="font-weight: 400; padding-bottom: 15px;">
        Congratulations!
      </h4>
      <h1 style="font-weight: 400;">
        Your order is being processed!
        <br>
        Due to covid-19 mesures, please fill the form below.
      </h1>

        <!-- <p>It will be ready within :</p> -->
      <input type="hidden" id="set-time" value="1"/>
      <!-- <div id="countdown" style="margin-bottom: 80px;">

        <div id='tiles' class="color-full"></div>
        <div class="countdown-label">Time Remaining</div>
      </div> -->
    </div>
  </div>

</div>

<%= render 'people/form', restaurant: @restaurant, table: @table, order: @order, person: @person, :style => "margin: 50%" %>
<% @order.persons.each do |person| %>
<div style="text-align: center" >
  <%= person.firstname %>
  <%= person.lastname %>
  <%= person.phone %>
</div>
<% end %>

<div class="pt-4'" style="text-align: center; margin: 30px; margin-bottom: 120px">
  <%= link_to "Thank you! Make another order?", new_restaurant_table_order_path(@order.table.restaurant, @order.table), :style => "padding: 30px; background-color: #0087d3; color: white; border-radius: 15px; text-decoration:none " %>
</div>

<div class="footer" >
  <div class=" footerblue ">
    <%= link_to new_restaurant_table_order_path(@order.table.restaurant, @order.table) do %>
      <i class="fas fa-book-open"></i>
    <% end %>
  </div>

  <div class=" cartcount <%=  cart_index? ? 'footerblue' : 'footergrey' %>">
    <div class='cart'>
    <%= button_tag type: 'submit', class: "button postfix" do %>
      <i class="fas fa-shopping-cart"></i>
    </div>
    <% end %>
  </div>
</div>
