<div class="tablesh2">
  <h2>Your tables</h2>
  <%= render "shared/table_form", restaurant: @restaurant, table: @table %>
</div>
<div class="card-index" >
  <div class="column" >
    <% @restaurant.tables.each do |table| %>
      <div class="card-full" >
        <% if policy(table).show? %>
          <%= link_to restaurant_table_path(restaurant_id: @restaurant.id, id: table.id), class: "d-flex" do  %>
            <div class="card-table-index">
              <h1><%= table.number %> - <%= table.orders.count %> order(s) - <%= table.order_dishes.count %> dishes</h1>
              <!-- <p><%#= table.description %></p> -->
              <%= image_tag "table_#{table.number}.png", alt: "", :style=> "height: 200px" %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= link_to "delete table", destroytable_path(@restaurant, table), method: :delete %>
      <%= link_to "create order", new_restaurant_table_order_path(@restaurant, table)  %>
    <% end %>
  </div>
</div>
