<h1>Table <%= @table.number %></h1>
<%= image_tag "table_#{@table.number}.png", alt: "", :style=> "height: 200px" %>
<p>Find me in app/views/tables/show.html.erb</p>
<%= link_to "create order", new_restaurant_table_order_path(@restaurant, @table)  %>
<div style="display: flex">
  <div>
    <h4>Commands</h4>
    <%  @orders.each do | order | %>
        <%= link_to edit_restaurant_table_order_path(@restaurant, @table, order) do  %>
    <div style="border: solid; border-color: black">
      <p><%= order.id %> status:<%= order.status %> <%= distance_of_time_in_words(Time.now, order.created_at) %></p>
      <% order.order_dishes.each do |od| %>
          <div><%= od.dish.name %></div>
        <% end %>
    </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= link_to "Delete table", destroytable_path(@table.restaurant, @table) %>
