<h1>Dishes#index</h1>
<p>Find me in app/views/dishes/index.html.erb</p>
<h2><%= @restaurant.dishes.count %> dishes</h2>

<%= link_to "Add a dish", new_restaurant_dish_path(@restaurant)  %>
<%  @restaurant.dishes.each do | dish | %>
<p><%= link_to dish.id,  restaurant_dish_path(dish.restaurant, dish) %><%= dish.name %> <%= dish.deactivated ? "deactivated" : "activated" %></p>
<% end %>
