<% if @order == nil %>
    <div class='showtextcontainer'>
      <div class='showtitleprice'>
        <h2><%= @dish.name %></h2>
        <h2><%= @dish.quantity %></h2>
        <h2><%= @dish.price %>€</h2>
      </div>
      <p><%= @dish.ingredient %></p>
      <%= @dish.deactivated ? "deactivated" : "activated" %>
    </div >
    <% if current_user != nil && @dish.restaurant.user_id == current_user.id %>
      <%= link_to "edit", edit_restaurant_dish_path(@dish.restaurant, @dish)%>
      <%= link_to "restaurant" , restaurant_path(@dish.restaurant) %>
      <%= link_to "delete", destroydish_path(@dish.restaurant) %>
    <% end %>
    <%#= link_to add_order_dish_path(@order_dish) do %>
      <!-- <div>yo2</div> -->
    <%# end %>

  <% else %>
    <div class='top-page'>
    <div class='top-left'>
      <%= link_to edit_restaurant_table_order_path(@order.table.restaurant, @order.table, @order), data: { turbolinks: 'false' } do %>
        <i class="fas fa-angle-left btn-back"></i>
      <% end %>
    </div>
      <div class='top-right'>
        <h1>@restaurant.name</h1>
      </div>
    </div>

    <div class='showcontainer'>
    <% if @dish.photo.attached? %>
          <%= cl_image_tag @dish.photo.key , :class => "showimg" %>
          <% end %>
    </div>

    <div class='showtextcontainer'>
      <div class='showtitleprice'>
        <h2><%= @dish.name %></h2>
        <h2><%= @dish.quantity %></h2>
        <h2><%= @dish.price %>€</h2>
      </div>
      <p><%= @dish.ingredient %></p>
    </div >

    <%= simple_form_for [@restaurant, @table, @order] do |f| %>
      <% if @dish.quantity > 0 %>
        <div class='btnbottom' data-controller="change-qty">
          <%= simple_fields_for :order_dishes do |od| %>
            <% @dishe_ids_with_quantity.each do |dish_id, dish_quantity| %>
              <% if dish_id != @dish.id %>
                <%# re-add the other dishes as hidden inputs %>
                <%= od.input dish_id, as: :hidden, input_html: { value: dish_quantity } %>
              <% else %>
                <%# dish already added, add - / + buttons %>
                <div class='btnqty'>
                  <div class="btn-lessmax" data-action="click->change-qty#minus" style= "cursor: pointer;">-</div>
                  <%= od.input(
                        @dish.id,
                        readonly: true,
                        label: false,
                        wrapper_html: {style: "margin: 0;"},
                        input_html: {
                          value: @order.dishes.count { |e| e == @dish },
                          style: "background-color: white; border-color: white ; color: black; width: 50px; text-align: center; font-size: 32px;%",
                          data: {target: "change-qty.input"}
                        }
                      ) %>
                  <div class="btn-plusmax" data-action="click->change-qty#plus" style= "cursor: pointer;">+</div>
                </div>
              <% end %>
            <% end %>

            <%# dish not already added, add - / + buttons %>
            <% unless @order.dish_ids.include?(@dish.id) %>
              <div class='btnqty'>
                  <div class="btn-plus2" data-action="click->change-qty#minus" style= "cursor: pointer;">-</div>
                  <%= od.input(
                        @dish.id,
                        readonly: true,
                        label: false,
                        wrapper_html: {style: "margin: 0;"},
                        input_html: {
                          value: 0,
                          style: "background-color: white; border-color: white ; color: black; width: 50px; text-align: center; font-size: 32px;",
                          data: {target: "change-qty.input"}
                        }
                      ) %>
                  <div class="btn-plus2" data-action="click->change-qty#plus" style= "cursor: pointer;">+</div>
                </div>
            <% end %>
          <% end %>

          <%= f.submit "UPDATE", class: "btnadd" %>
        </div>
      <% end %>
    <% end %>
<% end %>
<div data-controller="counter">
      <%#= link_to see_path(@restaurant, @table, @order, @dish) do %>

        <!-- <div data-action="click->counter#refresh">yo23</div> -->
      <%# end %>
    </div>
