<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>
<%= link_to "Add a restaurant", new_restaurant_path %>
<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant_path(restaurant) do %>
    <h1><%= restaurant.name %></h1>
  <% end %>
<% end %>
