<h1>Restaurants#new</h1>
<p>Find me in app/views/restaurants/new.html.erb</p>
<%#= render "shared/restaurant_form", restaurant: @restaurant %>
<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :telephone %>
  <%= f.input :address %>
  <%= f.input :ownerfirstname %>
  <%= f.input :ownerlastname %>
  <%= f.input :color1 %>
  <%= f.input :color2 %>
  <%= f.input :color3 %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
