<div class="header-restaurants" style="background-color: <%= @restaurant.color1 %>; ">
  <div class="header-restaurants-title" >
    <% if @restaurant.photo.attached? %>
      <%= cl_image_tag @restaurant.photo.key, :transformation=>[
      {:width=>300, :height=>400, :crop=>"fill"},
      ] %>
    <% else %>
      <img src="logo.jpd" alt="">
    <% end %>

  </div>
</div>
<div  style="display: flex; background-color: <%= @restaurant.color1 %>; color: white; justify-content: center; padding-bottom: 100px">
  <!-- <h1><%#= @restaurant.name %></h1> -->

  <!-- <h1>Restaurants#show</h1> -->
  <!-- <p>Find me in app/views/restaurants/show.html.erb</p> -->
  <div style="text-align: center">
    <h2><%= @restaurant.orders.count %> order(s)</h2>
    <h5><%= @restaurant.order_dishes.count %> dish(es)</h5>
    <div>
      <%= link_to "See all orders", restaurant_orders_path(@restaurant) %>
    </div>
    <h2><%= @restaurant.tables.count %> table(s)</h2>
    <div>
      <%= link_to "See all tables", restaurant_tables_path(@restaurant) %>
    </div>
    <h2><%= @restaurant.menus.count %> menus</h2>
    <div>
      <%= link_to  "See all menus", restaurant_menus_path(@restaurant)  %>
    </div>
    <h2><%= @restaurant.dishes.count %> dishes</h2>
    <div>
      <%= link_to  "See all dishes", restaurant_dishes_path(@restaurant)  %>
    </div>
  </div>
</div>
