.btn-plus {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  background-color: #0087D3;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  // margin-right: -93px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-less {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  background-color: #0087D3;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.btn-plus2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px #0087D3;
  color: white;;
  background-color: #0087D3;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
}

.btnqty {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.btnbottom {
  width: 170px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.btnadd {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 7px;
  box-shadow: $box-shadow;
  background-color: #0087D3;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 120px;
  a {
  color: white;
  font-weight: bold;
  font-size: 16px;
  }
}

.btnorder {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  padding-bottom: 30px;
}

.btncontinue {
  width: 110px;
  background-color: #0087D3;
  box-shadow: $box-shadow;
  border-radius: 7px;
  padding: 10px;
  text-align: center;
  a {
  color: white;
  font-weight: bold;
  font-size: 16px;
  }
}

.btnpay {
  width: 110px;
  background-color: #0087D3;
  box-shadow: $box-shadow;
  border-radius: 7px;
  padding: 10px;
  text-align: center;
  a {
  color: white;
  font-weight: bold;
  font-size: 16px;
  }
}

.btnscancontinue {
  background-color: #0087D3;
  box-shadow: $box-shadow;
  border-radius: 7px;
  padding: 10px;
  text-align: center;
  a {
  color: white;
  font-weight: bold;
  font-size: 16px;
  }
}

.btnscancontinue2 {
  background-color: #0087D3;
  box-shadow: $box-shadow;
  border-radius: 7px;
  padding: 10px;
  text-align: center;
  margin-bottom: 45px;
  a {
  color: white;
  font-weight: bold;
  font-size: 16px;
  }
}

.btn-back {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: white;
  background-color: #0087D3;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.btn-lessmax {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  background-color: #0087D3;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-plusmax {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  background-color: #0087D3;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btnmodify {
  background-color: #0087D3;
  font-size: 14px;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #0087D3;
  margin-bottom: 8px;
  padding: 0px;
}

.modal-body {
  height: 190px !important;
}

.btnaddmodal {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 7px;
  box-shadow: $box-shadow;
  background-color: #0087D3;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-top: 24px;
  a {
  color: white;
  font-weight: bold;
  font-size: 16px;
  }
}

.btnqty2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 170px;
}
