.card-scroll {
  // width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 10px 0;
}

.cards-container {
    display: flex;
    // overflow-x: scroll;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.textcontainer {
  padding: 8px;
  // width: 138px;
  // height: 64px;
}

.dishimg {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.dishcard {
  box-shadow: $box-shadow;
  transition: 0.3s;
  width: 45%;
  // height: 169px;
  margin: 0 15px 20px 0;
  border-radius: 7px;
  overflow: hidden;
  flex-shrink: 0;
  color: black;
  h2 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 15px;
    height: 45px;
  }
  h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    position: relative;
  }
}

h1 {
  color: black;
  font-size: 20px;
  font-weight: bold;
  // margin-left: 20px;
}

.priceandbutton {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.category-title h2 {
  font-size: 18px;
  font-weight: 300;
}

.linefix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // text-align: center;
  width: 100%;
  input {
    font-size: 1px;
    width: 2px;
    display: none;
  }
}

.ordermargin {
  margin-bottom: 12px;
}
