.header-restaurants {
  display: flex;
  justify-content: center;
  padding: 40% 0px;
  // margin-bottom: 20px; no need if searchbar is fixed on orders/edti
}

.header-restaurants-title {
  // padding: auto;
}
