header {
  background-color: white;
  box-shadow: $box-shadow;
  width: 100%;
  margin-bottom: 0px;
  padding: 10px 0;

}

.header-center a {
  // color: #0087D3;
  font-size: 30px;
  padding-top: 12px;
  font-weight: normal;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}


.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 0px 10% 0px 10%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
