.sbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 5px;
  width: 100%;
  padding: 0% 10%;
}

.searchbar {
  display: flex;
  align-items: center;
  width: 90%;
  height: 40px;
  border-radius: 31px;
  border: none;
  background-color: #f1f7f7;
  font-size: 18px;
  // padding-left: 15px;
  margin-bottom: 20px;

}
.searchbar1 {
  width: 100%;
  height: 40px;
  border-radius: 31px;
  border: none;
  background-color: #f1f7f7;
  font-size: 18px;
  padding-left: 15px;
}

.searchbar2 {
  width: 20%;
  height: 40px;
  border-radius: 31px;
  border: none;
  background-color: #f1f7f7;
  font-size: 18px;
  // padding-left: 15px;
  background-color: #0087d3;
}

input {
  font-size: 13px;
  font-weight: light;
  color: #6A6A6A;
  font-size: 1.5em;
}


.search-input {
  display: flex;
  position: relative;
  width: 100%;
}

.clear-input {
  // position: absolute;
  // right: 50px;
  top: 10%;
  color: grey;
  width: 10%;
}

.fas .fa-search {
  color: white;
}
