.summarycontainer {
  margin-top: 35px;

}

.summarycontent {
  box-shadow: 0px -4px 4px #D3DDE2;
  border-radius: 9px;
  border-bottom: 2px dashed gray;
  padding: 20px;
  margin-top: 50px;
  h2 {
    font-size: 18px;
    font-weight: medium;
  }
  h3 {
    font-size: 18px;
    font-weight: 400;
  }
  h4 {
    font-size: 14px;
    font-weight: 300;
    color: #7C8488;
  }
  h5 {
    font-size: 12px;
    font-weight: 300;
    color: #7C8488;
    margin-bottom: 16px;
    text-align: center;
  }
}

.summaryprice {
  padding: 20px;
  box-shadow: 0px 4px 4px #D3DDE2;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  h2 {
    font-size: 18px;
    font-weight: medium;
  }

}

.ordersummary {
  display: flex;
  justify-content: space-between;
}

.orderborder {
  border-right: 1px solid #7C8488;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textsize {
  font-size: 14px;
  padding-top: 15px;
}

.lastp p {
  font-size: 18px;
  font-weight: medium;
  padding-top: 10px;
  padding-bottom: 10px;
}

.finalcontainer {
  padding-bottom: 1px;
}
