<h1>Categories#new</h1>
<% @menu.categories.each do |category| %>
<%= category.name %> <%= link_to "delete (if no dish inside)", destroycategory_path(@restaurant, @menu, category) %><br>
<% end %>
<p>Find me in app/views/categories/new.html.erb</p>
<%= form_for ([ @restaurant, @menu, @category ]) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
<%= link_to "back to menu", restaurant_menu_path(@restaurant, @menu)  %>
