<h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p>
    <% @menu.categories.each do |category| %>
      <div><%= category.name %> <%= link_to "add a dish", new_restaurant_dish_path(params[:restaurant_id])  %></div>
    <% end %>
